body, html{
  scroll-behavior: smooth;
  height: 100%;
  margin:0;
  font-size:16px;
  font-family:Thasadith, Oswald, Helvetica, sans-serif;
  font-weight:400;
  line-height:1.8em;
  color:#666;
  background-image: url(../img/background.jpeg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

#img{
  padding-right:20px;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

#img:hover {
  opacity: 1.0;
  filter: alpha(opacity=100);
}

.navbar-expand-md{
  background:white;
  border:0;
  font-family:Carrois+Gothic;
}

a{
  color:black;
}

a:active{
  font-weight:bold;
  color:black;
  text-decoration: none;
}

a:hover{
  font-weight:bold;
  color:black;
  text-decoration: none;
}

#navbars{
  text-align: right;
}

.flip-box {
  margin-left: 50%;
  margin-top: 10%;
  background-color: transparent;
  width: 300px;
  height: 200px;
  perspective: 1000px;
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-box-front {
  background-color: transparent;
  color: transparent;
}

.flip-box-back {
  background-color: dodgerblue;
  color: transparent;
  transform: rotateY(180deg);
}

#callingcard1, #callingcard{
  outline-style: solid;
  outline-color: black;
}

.hiddenImage{
  display: none;
}

@media only screen and (max-width: 767px) and (max-height: 1023px) {

  .navbar-expand-md{
    background:white;
    width:100%;
  }

  ul .nav{
    width: 100%;
  }

  .active{
    display: block;
  }


  .flip-box{
    display: none;
  }

  .hiddenImage{
    display: block;
    padding-top: 250px;
  }


}

@media only screen and (max-width: 1024px) and (max-height: 1366px) {

  .navbar-expand-md{
    background:white;
    width:100%;
  }

  video {
    width: 100%;
    height: 100%;
  }

  #myVideo{
    object-fit: cover;

  }

  body,html{
    background-image: none;
  }



}
